* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

:root {
  /* var(--color-blue) */
  --color-blue: #3482fc;
  /* var(--h-header) */
  --h-header: 70px;

}

.larghezza {
  width: 1300px;
  height: 100%;


  /* debug */
  /* background-color: rgba(138, 30, 30, 0.24); */
}